body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
   height: 150px;
   width: 300px;
   border:2px solid black;
   border-radius: 25px;
   text-align: center;
}
button{
    font-size: 15px;
    font-weight: bold;
    margin-top: 3px
}
span{
    font-weight: bolder;
    padding: 5px;
    border: 1px solid black;
    font-size: 18px;
}
#reset{
    margin-top: 10px;
}